<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='./css/styles.css'>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class='main-content'>
         {{>header}}
        <p>{{errorMessage}}</p>
        <img src='https://media.giphy.com/media/3zhxq2ttgN6rEw8SDx/giphy.gif'>
    </div>

    {{>footer}}
</body>

</html>