<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='./css/styles.css'>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <h2>{{helpText}}</h2>
        <ol>
            <li>{{qa1}}</li>
            <li>{{qa2}}</li>
        </ol>
    </div>

    {{>footer}}
</body>

</html>